@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap');

h1{ 
    /* font-size: 80px; */
    color: #363958;
    font-family: 'Bebas Neue', cursive;
}
.span-color{
    color: #FA804C;
}
p{
    color: #3E3E3E;
    font-family: 'Roboto', sans-serif;
}
a{
    font-family: 'Roboto', sans-serif;
}
/* .button-bg{
    background-image: inear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);;
} */
.header{
    background-color: #FFF9F4;
}
.banner{
    /* height: calc(715px - 60px); */
    background-color: #FFF9F4;
}