@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap');

h1,h2{ 
    font-family: 'Bebas Neue', cursive;
}
h4{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}
.heading-color{
    color: #363958;
}
.span-color{
    color: #FA804C;
}
p{
    color: #3E3E3E;
    font-family: 'Roboto', sans-serif;
}
a{
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color: #FFF9F4;
}
.nav-bg{
    text-align: center;
}
.banner{
    background-color: #FFF9F4;
}
.shoe-img-bg{
    background-color: #F1F1F1;
    max-height: 315px;
}